<!DOCTYPE html>
<html>
  <head>
        <% include _header %>
  </head>

  <body>
    <section class="content">

        <% include _sidebar %>

        <div class="content-liquid-full">
            <div class="container">

                <% include _headerBar %>
                <%- body %>

            </div><!-- end content-liquid-full -->
        </div><!--  end container -->
    </section>

        <!--
            Client-side Templates
            ========================

            HTML templates are important prerequisites of modern, rich client applications.
            To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
            that you load these templates client-side.

            By default, your Gruntfile is configured to automatically load and precompile
            client-side JST templates in your `assets/templates` folder, then
            include them here automatically (between TEMPLATES and TEMPLATES END).

            To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
            For example, here are a few things you could do:

                + Import templates from other directories
                + Use a different template engine (handlebars, jade, dust, etc.)
                + Internationalize your client-side templates using a server-side
                  stringfile before they're served.
        -->

    <!--TEMPLATES-->
    <!--TEMPLATES END-->

    <% include _footer %>
  </body>
</html>
