<div ng-app="CharlesTest">
    <div ng-controller="charlesTestCtrl">
        <label>Search:</label>
        <input type="text" ng-model="name">
        <button ng-click="fetch(name)">Search</button><br>
        <div ng-bind-html="searchResults"></div>
    </div>
</div>